* {
    margin: 0;
}

body {
    background-color: burlywood;
    font-family: "Comic Sans MS", "Comic Sans";
}

h1 {
    font-family: "Comic Sans MS", "Comic Sans", "Helvetica", sans-serif;
    text-align: center;
    background-color: tomato;
    animation: rainbow 10s linear infinite;
}

ul li a {
    color: #f53210;
    font-size: large;
    font-family: "Courier New", Courier, monospace;
}

ul li {
    margin-bottom: 5px;
}